@import url('../variables.css');

/* Main content */
.content {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: row;
  gap: 66px;
}

/* Subscribe Button */
.subscribe-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--alert);
  transition: opacity 400ms ease-out;
  color: var(--white);
}

.subscribe-btn:hover {
  background-color: var(--alert);
  opacity: 0.6;
}

.scroll-buttons {
  display: flex;
  gap: 10px;
  align-self: end;
  align-items: end;
  height: 100%;
}
