@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

body {
  min-width: 320px;
}

button {
  border: 0;
  padding: 0;
  background-color: initial;
  cursor: pointer;
}

button:hover {
  background-color: initial;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
