@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.font_mulish {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Margin */
.mb_30 {
  margin-bottom: 30px;
}

/* Padding */
.pt_20 {
  padding-top: 20px;
}

.pr_150 {
  padding-right: 150px;
}

.pb_50 {
  padding-bottom: 50px;
}

.pl_30 {
  padding-left: 30px;
}

/* Typography */
.text_none {
  font-size: 0;
  line-height: 0;
}

.text_base {
  font-size: 16px;
  line-height: 1.2;
}

.text_13 {
  font-size: 13px;
  line-height: 1;
}

.text_18 {
  font-size: 18px;
  line-height: 1;
}

.text_26 {
  font-size: 26px;
  line-height: 1;
}

.text_small {
  font-size: 12px;
  line-height: 1.2;
}

.img_link {
  height: min-content;
  display: inline-block;
}
